body{
    background-color: #080C20;
    overflow-x: hidden;
}
.bg-body-tertiary {
    background-color: #080C20 !important;
}
.maker-logo {
    margin: 50px 0 0 100px;
}

/* First section */
.section-1 {
    margin: 100px 0 0 0;
}
.heading-1-text {
    text-align: center;
    color: #ffffff;
    margin: 70px 0 0 0;
    font-family: 'Manrope', sans-serif;
}
.love-text {
    color: #3ee9e5;
}
.paragraph-1-text {
    text-align: center;
    color: #777F98;
    margin: 30px 0 0 0;
    font-weight: 100;
}
.mouse-scroll {
    display: block;
    margin: 60px auto;
}
.left-illustration {
    margin-left: -100px;
}
.right-illustration {
    margin-left: 150px;
}

/* Second section */
.section-2 {
    margin: 200px;
}
.box-1 {
    width: 150px;
    height: 150px;
    background-color: #093F68;
    border-radius: 45px;
}
.pass-img {
    padding: 22px !important; 
}
.heading-2-text {
    margin: 50px 0 0 0;
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
}
.paragraph-2-text {
    margin: 30px 0 0 0;
    color: #777F98;
    font-weight: 100;
}
.financial-box {
    margin-top: 55px;
    padding-right: 5px;
}
.work-box {
    margin-top: 55px;
    padding-left: -5px;
}
.passion-box {
    padding-right:5px;
}
.lifestyle-box {
    padding-right: 5px;
}

/* Third section */
.heading-3-text {
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
}
.paragraph-3-text {
    margin-top: 30px;
    color: #777F98;
}

/* Fourth section */
.section-3 {
    margin: 80px 0 0 0;
}
.card-1 {
    width: 445px;
    height: 425px;
    background: #093F68;
    border-radius: 15px;
    float: right;
    padding: 0 38px 0 38px;
}
#free-icon {
    margin: -30px 0 0 38px;
}
.card-2 {
    position: absolute;
    width: 445px;
    height: 425px;
    background: #3EE9E5;
    border-radius: 15px;
    padding: 0 38px 0 38px;
}
#paid-icon {
    margin: -30px 0 0 38px;
}
.heading-4-text-1 {
    margin: 40px 0 0 0;
    color: #ffffff;
}
.paragraph-4-text-1 {
    color: #ffffff;
    margin: 30px 0 0 0;
}
.free {
    color: #ffffff;
    margin: 35px 0 0 0;
}
.heading-4-text-2 {
    margin: 40px 0 0 0;
    color: #080C20;
}
.paragraph-4-text-2 {
    color: #080C20;
    margin: 30px 0 0 0;
}
.paid {
    color: #080C20;
    margin: 35px 0 0 0;
}
.paid-month {
    font-weight: 100;
    font-size: 20px;
}
.check {
    margin-top: 25px;
}