body{
    background-color: #080C20;
    overflow-x: hidden;
}
.bg-body-tertiary {
    background-color: #080C20 !important;
}
.maker-logo {
    margin: 50px 0 0 100px;
}

/* First section */
.section-1 {
    margin: 100px 0 0 0;
}
.heading-1-text {
    text-align: center;
    position: relative;
    color: #ffffff;
    margin: 70px 0 0 0;
    font-family: 'Manrope', sans-serif;
}
.love-text {
    color: #3ee9e5;
}
.paragraph-1-text {
    text-align: center;
    color: #777F98;
    margin: 30px 0 0 0;
    font-weight: 100;
}
.mouse-scroll {
    display: block;
    margin: 60px auto;
}
.left-illustration {
    margin-left: -100px;
}
.mobile-illustration {
    display: none;
}
.right-illustration {
    margin-left: 150px;
}

/* Second section */
.section-2 {
    margin: 200px;
}
.box-1 {
    width: 150px;
    height: 150px;
    background-color: #093F68;
    border-radius: 45px;
}
.pass-img {
    padding: 22px !important; 
}
.heading-2-text {
    margin: 50px 0 0 0;
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
}
.paragraph-2-text {
    margin: 30px 0 0 0;
    color: #777F98;
    font-weight: 100;
}
.financial-box {
    margin-top: 55px;
    padding-right: 5px;
}
.work-box {
    margin-top: 55px;
    padding-left: -5px;
}
.passion-box {
    padding-right:5px;
}
.lifestyle-box {
    padding-right: 5px;
}

/* Third section */
.heading-3-text {
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
}
.paragraph-3-text {
    margin-top: 30px;
    color: #777F98;
}

/* Fourth section */
.section-3 {
    margin: 80px 0 0 0;
}
.card-1 {
    width: 445px;
    height: 425px;
    background: #093F68;
    border-radius: 15px;
    float: right;
    padding: 0 38px 0 38px;
    margin-top: 15px;
}
#free-icon {
    margin: -30px 0 0 38px;
}
.card-2 {
    position: absolute;
    width: 445px;
    height: 457px;
    background: #3EE9E5;
    border-radius: 15px;
    padding: 0 38px 0 38px;
}
#paid-icon {
    margin: -30px 0 0 38px;
}
.heading-4-text-1 {
    margin: 40px 0 0 0;
    color: #ffffff;
}
.paragraph-4-text-1 {
    color: #ffffff;
    margin: 30px 0 0 0;
}
.free {
    color: #ffffff;
    margin: 35px 0 0 0;
}
.heading-4-text-2 {
    margin: 40px 0 0 0;
    color: #080C20;
}
.paragraph-4-text-2 {
    color: #080C20;
    margin: 30px 0 0 0;
}
.paid {
    color: #080C20;
    margin: 35px 0 0 0;
}
.paid-month {
    font-weight: 100;
    font-size: 20px;
}
.check {
    margin-top: 25px;
}

/* Last Section */
.footer {
    margin: 150px 0 -100px 0;
    padding: 0 0 120px 0;
}
.footer-text {
    margin: 70px 0 0 0;
    color: #ffffff;
}
.subscribe {
    position: relative;
    margin-top: 50px;
}
.email-field {
    width: 65%;
    height: 50px;
    margin: auto;
    border-radius: 24px;
    background: #093F68;
    color: #fff;
}
.email-field:hover {
    border: 2px solid #3EE9E5;
}
form input {
    border: 0;
    outline: 0;
    padding: 20px 30px;
}
.btn {
    font-family: 'Manrope', sans-serif;
    font-size: small;
    padding: 10px;
    border-radius: 24px;
    width: 120px;
    margin-left: 30px;
    height: 45px;
    background: #3EE9E5;
    color: #093F68;
    border: 0;

}
.btn:hover {
    background-color: #080C20;
    border: 2px solid #3EE9E5;;
}
#messageStatus {
    color: #FF2965;
    margin-top: 10px;
}

/* Mobile responsiveness */
@media (min-width: 319px) and (max-width: 480px) {
    .maker-logo {
        margin-left: 125px;
    }
    .left-illustration {
        display: none;
    }
    .right-illustration {
        display: none;
    }
    .bg-hero-img {
        display: none;
    }
    .footer-img {
        display: none;
    }
    .body{
        background-color: #080C20;
        overflow-x: hidden;
    }
}