body{
    background-color: #080C20;
}
.bg-body-tertiary {
    background-color: #080C20 !important;
}
.maker-logo {
    margin: 50px 0 0 100px;
}

/* First section */
.section-1 {
    margin: 100px 0 0 0;
}
.heading-1-text {
    text-align: center;
    color: #ffffff;
    margin: 70px 0 0 0;
    font-family: 'Manrope', sans-serif;
}
.love-text {
    color: #3ee9e5;
}
.paragraph-1-text {
    text-align: center;
    color: #ffffff;
    margin: 30px 0 0 0;
}
.mouse-scroll {
    display: block;
    margin: 60px auto;
}
.left-illustration {
    margin-left: -40px;
}
.right-illustration {
    margin-right: 50px;
}